<div class=" fix-container">
    <div class="row">
        <div class="col s12">
            <div class="left">
                <h2 class="title-name" ng-bind="sub.title"></h2>
                <h4 class="title-sub">
                    <span class="b-label">View and manage your spendings. </span>
                </h4>
            </div>

            <div class="right">
                <div class="c-btn btn-green" id="sliderButton">
                    Add New Expense
                </div>

                <div class="c-btn btn-gradient-icon" id="csv">
                    Export to CSV
                </div>

            </div>
        </div>
    </div>
</div>

<hr class="line">

<div style="display: flex" class="bar-stage">

    <div class="bar-info approved ">
        <div class="bar-num">
            <span class="num-head">TZS 14, 702.99</span>
            <span class="num-sub">Total expenses amount</span>
        </div>
    </div>

</div>


<div class="container">

    <div class="dropd">
        <select class=" dropdown-container">
            <option class="dropdown-label">All Expenses</option>
            <option class="dropdown-label">Paid by Cheque</option>
            <option class="dropdown-label">Paid by Cash</option>
            <option class="dropdown-label">Paid by Petty Cash</option>
            <option class="dropdown-label">Paid by Invoice</option>
        </select>
    </div>

    <div class="dropd">
        <select class="dropdown-container-min">
            <option class="dropdown-label">10</option>
            <option class="dropdown-label">20</option>
            <option class="dropdown-label">50</option>
            <option class="dropdown-label">100</option>
        </select>
    </div>

    <div class="delete-all-icon" id="dl-icon" style="display:none">
        <img src="./views/assets/icons/dashboard/delete-button-pngrepo-com.png" height="20" title="Delete Item(s)">
    </div>

    <div class="search">
        <input class="search-input" type="text" placeholder="Enter keyword to search...">
    </div>



    <table id="tableExpenses">
        <thead>
            <tr class="bz-tablecell">
                <th id="table-checkbox"><input type="checkbox" onclick="toggle(this);" id="chk-all"></th>
                <th><b>Expense Acc.</b></th>
                <th><b>Amount</b></th>
                <th><b>Expense Type</b></th>
                <th><b>Paid Through</b></th>
                <th><b>Vendor</b></th>
                <th><b>Date</b></th>
                <th class="export-ignore"><b>Actions</b></th>
            </tr>
        </thead>

        <tbody>
            <tr class="bz-tablecell">
                <td id="table-checkbox"><input type="checkbox"></td>
                <td data-priority="1" style="font-weight: 600">Office Supplies</td>
                <td data-priority="2">TZS. 1,900</td>
                <td data-priority="4">SDE</td>
                <td data-priority="3">Petty Cash</td>
                <td data-priority="5"></td>
                <td data-priority="6">13-02-2017</td>
                <td class="export-ignore" data-priority="7"><a href="#">Manage</a></td>
            </tr>

            <tr class="bz-tablecell">
                <td id="table-checkbox"><input type="checkbox"></td>
                <td style="font-weight: 600">Bad Debt</td>
                <td>TZS. 3,500</td>
                <td>GAE</td>
                <td>Petty Cash</td>
                <td></td>
                <td>13-02-2017</td>
                <td class="export-ignore"><a href="#">Manage</a></td>
            </tr>

            <tr class="bz-tablecell">
                <td id="table-checkbox"><input type="checkbox"></td>
                <td style="font-weight: 600">Salaries</td>
                <td>TZS. 2,700</td>
                <td>FA</td>
                <td>Petty Cash</td>
                <td></td>
                <td>13-02-2017</td>
                <td class="export-ignore"><a href="#">Manage</a></td>
            </tr>

            <tr class="bz-tablecell">
                <td id="table-checkbox"><input type="checkbox"></td>
                <td style="font-weight: 600">Maintenance</td>
                <td>TZS. 700</td>
                <td>SDE</td>
                <td>Petty Cash</td>
                <td></td>
                <td>13-02-2017</td>
                <td class="export-ignore"><a href="#">Manage</a></td>
            </tr>

        </tbody>
    </table>

    <div id="siteWrapper" class="site-wrapper">
        <!--Slideout Drawer-->
        <div id="slideout" class="slideout">

            <div class="slideout-header">
                <div class="hint-flex">
                    <span class="section-title ">Add New Expense
                    </span>&ensp;
                    <div class="hasTooltip tooltip-bottom">
                        <img src="./views/assets/icons/dashboard/help.png" height="15px;" class="card-info">
                        <i class="tip" style="font-size: 12px">Most tooltips are short<br>but you can add line breaks.</i>
                    </div>
                </div>

                <a id="slideoutCloseButton" class="slideout-close" title="Close">
                    <img style="cursor: pointer;" src="./views/assets/icons/dashboard/x.svg" height="25px;" class="card-info">
                </a>
            </div>

            <div class="slideout-content">
                <section class="slideout-section">

                    <div class="input-group ">
                        <div class="i-label ">
                            <label for="input">Expense Name</label>
                        </div>
                        <input type="text" required="required" />
                    </div>

                    <div class="input-group ">
                        <div class="i-label">
                            <label for="input">Amount </label>
                        </div>
                        <input type="number" />
                    </div>

                    <div class="input-group ">
                        <div class="i-label ">
                            <label for="input">Expense Type </label>
                        </div>
                        <div class="form-s">
                            <select class="form-select">
                                <option>Selling & Distribution expense</option>
                                <option>General and Administrative expense</option>
                                <option>Financial expense</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group ">
                        <div class="i-label ">
                            <label for="input">Paid Through </label>
                        </div>
                        <div class="form-s">
                            <select class="form-select">
                                <option>Cash</option>
                                <option>Petty Cash</option>
                                <option>Receipt</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group ">
                        <div class="i-label ">
                            <label for="input">Vendor</label>
                        </div>
                        <input type="text" />
                    </div>

                    <div class="input-group ">
                        <div class="i-label ">
                            <label for="input">Date</label>
                        </div>
                        <input type="text" />
                    </div>



                    <div>
                        <input class="btn-green btn-blank right" type="submit" value="Add Expense">
                    </div>

                </section>
            </div>
        </div>
        <div id="slideoutMask" class="slideout-mask"></div>
    </div>


</div>

<script>
    //Slider-Drawer
    // Cache references to DOM nodes.
    var siteWrapper = document.querySelector('#siteWrapper');
    var hamburgerMenuButton = document.querySelector('#sliderButton');
    var slideoutCloseButton = document.querySelector('#slideoutCloseButton');

    function openSlideoutDrawer() {
        siteWrapper.classList.add('slideout-open');
        slideoutCloseButton.focus();
    }

    function closeSlideoutDrawer() {
        siteWrapper.classList.remove('slideout-open');
        hamburgerMenuButton.focus();
    }

    // Bind event listeners.
    hamburgerMenuButton.addEventListener('click', openSlideoutDrawer, false);
    slideoutCloseButton.addEventListener('click', closeSlideoutDrawer, false);

</script>

<script>
    $('.drawer').hide();
    $('.more').show();

    /* Open and Close the drawer */
    $('.drawer').prev('tr').on('click', function() {
        var tr = $(this);
        tr.toggleClass('shadow');
        tr.next('.drawer').toggle();
    });

</script>

<script>
    $('#csv').on('click', function() {
        $("#tableExpenses").tableHTMLExport({
            type: 'csv',
            filename: 'Expenses.csv',
            ignoreColumns: '#table-checkbox, .export-ignore'

        });
    })

</script>
