<div class=" fix-container">
    <div class="row">
        <div class="col s12">
            <div class="left">
                <h2 class="title-name" ng-bind="sub.title"></h2>
                <h4 class="title-sub">
                    <span class="b-label">Create, print and send invoices</span>
                </h4>
            </div>

            <div class="right">
                <div class="c-btn btn-green">
                    Create New Invoice
                </div>

                <div class="c-btn btn-gradient-icon">
                    Print Invoice
                </div>

                <div class="c-btn btn-gradient-icon">
                    Send to Email
                </div>


            </div>
        </div>
    </div>

</div>

<hr class="line">


<div class=" fix-container">
    <div class="container wizard">

        <!--row-->
        <div class="row">
            <div class="col-lg-12 col-lg-offset-1">




            </div>
        </div>
    </div>
</div>
