<div class=" fix-container">
    <div class="row">
        <div class="col s12">
            <div class="left">
                <h2 class="title-name" ng-bind="sub.title"></h2>
                <h4 class="title-sub">
                    <span class="b-label">Bizplus marketplace.</span>
                </h4>
            </div>
            <div class="right"> </div>
        </div>
    </div>
</div>
<hr class="line">
<div class=" fix-container">
    <div class="row">
        <div class="col s12">

        </div>
    </div>
</div>
