<div class=" fix-container">
    <div class="row">
        <div class="col s12">
            <div class="left">
                <h2 class="title-name" ng-bind="sub.title"></h2>
                <h4 class="title-sub">
                    <span class="b-label">Set up your organization profile or edit details.</span>
                </h4>
            </div>

            <div class="right">
                <div class="env-advice" tabindex=0>
                    <div class="env-advice_onscreen">
                        <span class="h-icon">
                            <i class="fa fa-video-camera"></i>
                        </span>
                        <span>Need Help?</span>
                    </div>
                    <div class="env-advice_offscreen">
                        <span class="h-icon">
                        </span>
                        <span>Get started with our video tutorials.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<hr class="line">

<div class=" fix-container">

    <div class="form-flex">

        <div class="biz-setting">

            <ul class="form-links">

                <li>
                    <a class="tablink tab-active">
                        Business Details
                    </a>
                </li>


                <li>
                    <a class="tablink ">
                        Business Logo
                    </a>
                </li>

                <li>
                    <a class="tablink ">
                        Personal Details
                    </a>
                </li>

                <li>
                    <a class="tablink ">
                        Preferences
                    </a>
                </li>




                <li>
                    <a class="tablink ">
                        Deactivate
                    </a>
                </li>



            </ul>


            <div class="tabs-content">
                <form>
                    <div class="row">
                        <h4 class="setting-title">Business Details</h4>


                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Business / Organization Name <span class="required">*</span></label>
                            </div>
                            <input type="text" required="required" />
                        </div>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Industry </label>
                            </div>
                            <div class="form-s">
                                <select class="form-select">
                                    <option>Restaurant</option>
                                    <option>Retail</option>
                                    <option>Bakery</option>
                                    <option>Health</option>
                                    <option>Grocery</option>
                                    <option>Pharmacy</option>
                                    <option>Real Estate</option>
                                    <option>Cleaning Services</option>
                                    <option>Warehouse and Storage</option>
                                    <option>Clothing Boutique</option>
                                    <option>Bar</option>
                                    <option>Day Care Service</option>
                                    <option>Brewery</option>
                                    <option>Fashion </option>
                                    <option>Photography</option>
                                    <option>Repair</option>
                                    <option>Rental</option>
                                    <option>Catering Service</option>
                                    <option>Consulting</option>
                                    <option>Salon</option>
                                    <option>Spa</option>
                                    <option>Brokage</option>
                                    <option>Security</option>
                                    <option>Forwarding Service</option>
                                    <option>Jewelry</option>
                                    <option>Pest Control</option>
                                    <option>Tailoring</option>
                                    <option>Apartment</option>
                                    <option>Cosmetic</option>
                                    <option>Café</option>
                                    <option>Training</option>
                                    <option>Dry Cleaning</option>
                                    <option>Food Delivery </option>
                                    <option>Agriculture</option>
                                    <option>Automotive</option>
                                    <option>Event</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group ">

                            <div class="i-label ">
                                <label for="input">Business Type </label>
                            </div>

                            <div class="form-s">
                                <select class="form-select">
                                    <option>Sole Proprietorship</option>
                                    <option>Partinership</option>
                                    <option>Corporation</option>
                                    <option>Cooperative</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Company Address <span class="required">*</span></label>
                            </div>
                            <input class="input-sm left" type="text" placeholder="Zip/Postal Code" />
                            <input class="input-sm right" type="text" placeholder="Street" />

                            <!--  small select -->
                            <div class="select-s2">
                                <select id="country" name="country" class="select-sm input-sm left" required="required">
                                </select>
                            </div>

                            <!--  small select -->
                            <div class="select-s">
                                <select name="state" id="state" class="select-sm input-sm right ">
                                    <option value="" selected="">State</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group form-line">
                            <div class="i-label ">
                                <label for="input">Business Identifier (If Applicable)</label>
                            </div>
                            <input type="text" placeholder="Ex: TIN Number" class="xtra-btm" />
                        </div>


                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Organization Telephone<span class="required">*</span> </label>
                            </div>
                            <input type="tel" />
                        </div>


                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Organization Email </label>
                            </div>
                            <input type="text" />
                        </div>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Organization Website URL (Optional)</label>
                            </div>
                            <input type="text" />
                        </div>

                        <div>
                            <input class="btn-green btn-blank left" type="submit" value="Update">
                        </div>
                    </div>
                </form>


                <form>
                    <div class="row">
                        <h4 class="setting-title">Business Logo</h4>

                        <div class="input-group ">
                            <div class="logo-preview">
                                <img src="./views/assets/img/company_logo_empty.png">
                            </div>

                            <div class="i-label ">
                                <label class="custom-file-upload" for="file-upload">
                                    Click here to upload your business logo<br> </label>
                            </div>
                            <input type='file' accept=".png, .jpg, .jpeg" id="file-upload" />
                            <div class="m-info ">
                                <span class="min-info" style="">Preferred image size: 150px x 150px. Maximum size of 1MB. Types: PNG, JPG, JPEG</span>
                            </div>

                            <div>
                                <input class="btn-green btn-blank left" type="submit" value="Update">
                            </div>

                        </div>


                    </div>
                </form>

                <form>
                    <div class="row">
                        <h4 class="setting-title"> Personal Details</h4>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Full Name </label>
                            </div>
                            <input type="text" />
                        </div>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="tel">Your Telephone Number </label>
                            </div>
                            <input type="text" />
                        </div>

                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Your Email Address </label>
                            </div>
                            <input type="text" />
                        </div>

                        <div class="input-group ">

                            <div class="i-label ">
                                <label for="input">User Type </label>
                            </div>

                            <div class="form-s">
                                <select class="form-select">
                                    <option>Owner</option>
                                    <option>Employee</option>
                                    <option>Accountant</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>


                        <div>
                            <input class="btn-green btn-blank left" type="submit" value="Update">
                        </div>
                    </div>
                </form>


                <form>
                    <div class="row">
                        <h4 class="setting-title"> Preferences</h4>


                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Currency </label>
                            </div>
                            <div class="form-s">
                                <select class="form-select">
                                    <option>USD - US Dollar</option>
                                    <option>EUR - Euro</option>
                                    <option>BP - British Pound</option>
                                    <option>INR - Indian Rupee</option>
                                    <option selected>TZS - Tanzanian Shilling</option>
                                    <option>AUD - Australian Dollar</option>
                                    <option>CAD - Canadian Dollar</option>
                                    <option>AED - Emirati Dirham</option>
                                    <option>MYR - Malaysian Ringgit</option>
                                    <option>CHF - Swiss Franc</option>
                                    <option>CNY - Chinese Yuan Renminbi</option>
                                    <option>THB - Thai Baht</option>
                                    <option>SAR - Saudi Arabian Riyal</option>
                                    <option>NZD - New Zealand Dollar </option>
                                    <option>JPY - Japanese Yen</option>
                                    <option>SGD - Singapore Dollar</option>
                                    <option>PHP - Philippine Peso</option>
                                    <option>TRY - Turkish Lira</option>
                                    <option>HKD - Hong Kong Dollar</option>
                                    <option>IDR - Indonesian Rupiah</option>
                                    <option>ZAR - South African Rand</option>
                                    <option>MXN - Mexican Peso</option>
                                    <option>SEK - Swedish Krona</option>
                                    <option>BRL - Brazilian Real</option>
                                    <option>HUF - Hungarian Forint</option>
                                    <option>PKR - Pakistani Rupee</option>
                                    <option>QAR - Qatari Riyal</option>
                                    <option>OMR - Omani Rial</option>
                                    <option>KWD - Kuwaiti Dinar</option>
                                    <option>DKK - Danish Krone</option>
                                    <option>NOK - Norwegian Krone</option>
                                    <option>RUB - Russian Ruble</option>
                                    <option>EGP - Egyptian Pound </option>
                                    <option>KRW - South Korean Won</option>
                                    <option>PLN - Polish Zloty</option>
                                    <option>COP - Colombian Peso</option>
                                    <option>CZK - Czech Koruna</option>
                                </select>
                            </div>
                        </div>


                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Language</label>
                            </div>
                            <!--Select language \ angular translate-->
                            <div class="form-s">
                                <select class="form-select" ng-options="language | translate for language in ctrl.languages" ng-model="ctrl.language" ng-change="ctrl.updateLanguage()">
                                </select>
                            </div>
                        </div>

                        <div>
                            <input class="btn-green btn-blank left" type="submit" value="Apply" id="button">
                        </div>
                    </div>
                </form>


                <form>
                    <div class="row">
                        <h4 class="setting-title">Delete Account</h4>



                        <div class="input-group ">
                            <div class="i-label ">
                                <label for="input">Enter your password (This operation cannot be retrieved)</label>
                            </div>
                            <input type="password" />
                        </div>

                        <div>
                            <input class="btn-green btn-blank left" type="submit" value="Delete Company">
                        </div>
                    </div>
                </form>


            </div>

        </div>

    </div>

</div>



<script src='views/assets/js/tabs.js'></script>



<script>
    //File input
    $("[type=file]").on("change", function() {
        // Name of file and placeholder
        var file = this.files[0].name;
        var dflt = $(this).attr("placeholder");
        if ($(this).val() != "") {
            $(this).next().text(file);
        } else {
            $(this).next().text(dflt);
        }
    });

</script>


<script src="views/assets/js/upload.js"></script>
<script src='views/assets/js/cntry.js'></script>
